.carouselItem {
    object-fit: contain;
    position: relative;
}

.carouselItem img{
    width: 100%;
    height: 80%;
}

.Carousel-Caption{
    height: 70%;
    position: absolute;
    bottom: 0%;
    left: 0;
    clip-path: polygon(0% 60%, 36% 7%, 100% 100%, 0% 100%);
    background: rgba(255, 255, 255, 0.838);
    color: black !important;
    /* border: 1px solid red; */
}

.Carousel-Caption .Carousel-Caption-Div{
    height: 60%;
    width: 45%;
    position: absolute;
    bottom: 8%;
    left: 20%;
    text-align: left;
    /* border: 1px solid red; */
}

.Carousel-Caption .Carousel-Caption-Div button{
    height: 40px;
    width: 190px;
    border-radius: 4px;
    border: none;
    background-color: rgb(7, 166, 194);
    color: white;
    font-size: 17px;
}

@media screen and (max-width:780px) {
    .carouselItem {
        height: 490px !important;
        /* border: 1px solid red; */
    }

    .carouselItem img{
        height: 50%;
    }

    .Carousel-Caption{
        clip-path: none;
        background: transparent;
        width: 100% !important;
        top: 50%;
        /* border: 1px sold red !important; */
    }

    .Carousel-Caption-Div{
        height: 48% !important;
        width: 90% !important;
        position: relative;
        top: 10%;
        left: 2% !important;
        /* border: 1px solid red; */
    }

    .Carousel-Caption .Carousel-Caption-Div button{
        position: absolute;
        z-index: 5;
    }

}



/* @media screen and (max-width:780px) {
   
    .Landing-slider-main-div .Landing-slider-inner-div{
        height:50%;
        width: 100%;
        position: relative;
        background: white;
       
    }
    .Landing-slider-main-div .Landing-slider-inner-div div{
       margin: 0px;
       padding: 3%;
        height: 85%;
        width: 85%;
    }
    .Landing-slider-main-div .Landing-slider-inner-div div h4{
        margin-left: 1%;
        margin-top: 0px;
    }
    .Landing-slider-main-div .Landing-slider-inner-div div p{
       width: 100%;
       margin-left: 1%;
    }
 
    .Landing-slider-main-div .Landing-slider-inner-div div button {
     
        margin-left: 1%;
     }
} */
