.latest-main-div{
    height: 700px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-div1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* border: 1px solid red; */
}
.latest-div1 h4{
    width: 50%;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    border-bottom: 1px solid rgb(213, 211, 211);
    padding: 10px;
}


.latest-div1 p{
    width: 50%;
    text-align: center;
    font-size: 19px;
}

