.globe-txt-wrapper h1{
    margin: 2rem 0 2rem 0;
    font-weight: 400;
    color: #002d74;
}
.globe-txt-wrapper h3{
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
}