.BlendingBody{
    background: #002d74;
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlendingBody h3{
    color: white;
    width: 80%;
}