.navbarBody{
    width: 100%;
    /* border: 1px solid black; */
    height: 225px;
    box-shadow: 0px 3px 0px 0px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
    background: white;
    /* border: 1px solid red; */
    position: relative;

}

.navbar-expand{
    width: 97%;
    height: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.navbar-container{
    width: 97%;
    height: 100%;
    /* border: 1px solid red; */
}

.collapsible-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.nav-logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 1px solid red; */
}

.nav-logo1{
    display: none !important;
}

.nav-logo img{
    height: 80%;
    width: 80%;
    /* border: 1px solid red; */
}


.navbar-upper-right{

}

.navbar-upper{
    height: 48%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    /* border: 1px solid green; */
}

.navbar-upper span{
    margin: 0px 30px 0px 0px;
    color: #1a7abf;
}

.navbar-upper div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.navbar-upper div span{
    margin: 0px 25px 0px 0px;
    color: rgb(133, 227, 244);
}

.navbar-upper div span img{
    margin-left: 30px;
}

.menu-list{
    height: 48%;
    display: flex;
    align-items: last baseline;
    /* border: 1px solid red; */
}

.menu-list .menuContainer{
    display: flex;
    align-items: center;
    list-style: none;
    /* border: 1px solid red; */
}

.menu-list div{
    margin: 8px;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    /* border: 1px solid red; */
}

.menu-list div span{
    color: #00a9b3;
    /* border: 1px solid red; */
}

/* .menu-list div:hover span{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
} */

.search-icon{
    width: 50px;
    height: 35px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: #00a9b3;
    border: 1px solid #00a9b3;
    color: white;
}

.nav-dropdown-menu-body-company,
 .nav-dropdown-menu-body-investors,
 /* .nav-dropdown-menu-body-products, */
 .nav-dropdown-menu-body-knowledge,
 .nav-dropdown-menu-body-services,
 .nav-dropdown-menu-body-industries,
 .nav-dropdown-menu-body-sustainability,
 .nav-dropdown-menu-body-contact
 {
    width: 90%;
    position: absolute;
    padding: 60px 0 67px 0;
    top: -20px;
    transition: transform ease-in-out .5s;
    transform: translateY(-100%);
    z-index: -5;
    left: 5%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    background: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: left;
    /* border: 1px solid red; */
}

.col-md-3{
    margin: 0px 15px 0px 10px;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border: 1px solid red; */
}

.col-md-2{
    margin: 5px 2px 20px 2px;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border: 1px solid red; */
}

.nav-dropdown-menu__heading{
    color: #28348a;
    font-size: 20px;
    margin: 0px !important;
    border-bottom: 1px solid black;
}

.nav-dropdown-menu__list{
    list-style: none;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.nav-dropdown-menu__list p{
    margin-top: 1px;
    cursor: pointer;
}

.nav-dropdown-menu__list p:hover{
    text-decoration: underline 1px solid black;
}

/* -----------Products-------------- */

.nav-dropdown-menu-body-products{
    width: 90%;
    position: absolute;
    padding: 60px 0 67px 0;
    top: -20px;
    transition: transform ease-in-out .5s;
    transform: translateY(-100%);
    z-index: -5;
    left: 5%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.products-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

/* -------------Hover Effects------------------ */

.company:hover .companyDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.investors:hover .investorsDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.products:hover .productssDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.knowledge:hover .knowledgeDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.services:hover .servicesDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.industries:hover .industriesDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.sustainability:hover .sustainabilityDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.contact:hover .contactDropdown{
    transition: transform ease-in-out .3s;
    transform: rotateZ(180deg);
}

.search-icon:hover{
    background: #002d74;
    border: 1px solid #002d74;;
}

/* -------Dropdown-Menu-Hover--------- */
.company:hover .nav-dropdown-menu-body-company{
    position: absolute;
    transform: translateY(48.5%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: 5; */
}

.investors:hover .nav-dropdown-menu-body-investors{
    position: absolute;
    transform: translateY(38%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: 5; */
}

.products:hover .nav-dropdown-menu-body-products{
    position: absolute;
    transform: translateY(46%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: 5; */
}

.knowledge:hover .nav-dropdown-menu-body-knowledge{
    position: absolute;
    transform: translateY(24.5%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: 5; */
}

.services:hover .nav-dropdown-menu-body-services{
    position: absolute;
    transform: translateY(42%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: 5; */
}

.industries:hover .nav-dropdown-menu-body-industries{
    position: absolute;
    transform: translateY(70%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: 5; */
}

.sustainability:hover .nav-dropdown-menu-body-sustainability{
    position: absolute;
    transform: translateY(70%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: 5; */
}

.contact:hover .nav-dropdown-menu-body-contact{
    position: absolute;
    transform: translateY(123%);
    padding: 60px 0 67px 0;
    left: 5%;
    /* z-index: -6; */
}

/* Mobile View */

.toggle{
    display: none;
}

.accordion{
    display: none;
}

@media (min-width:250px) and (max-width:991px){

    .navbarBody{
        height: 10%;
        width: 100% !important;
        box-shadow: none;
        border: none;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }

    .nav-logo1{
        display: none;
    }
    
    .navbar-expand{
        height: 10%;
        width: 100%;
        border-bottom: 1px solid #00a9b3;
        /* border: 1px solid red; */
    }

    .navbar-container{
        width: 100%;
        /* border: 1px solid red; */
    }

    .collapsible-navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-upper-right{
        display: none;
    }

    .toggle{
        display: block;
        height: 120px;
        width: 206px;
        /* border-top: 1px solid #00a9b3; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        border-radius: 5px;
        background: linear-gradient(30deg, white,white, #00a9b3);
    }

    .closeToggle{
        display: none;
    }

    .accordion{
        display: none;
        height: 1000px !important;
        background: whitesmoke !important;
        /* padding: 0px 5px 0px 5px !important; */
        /* border: 1px solid red !important; */
    }

    .accordionBody{
        background: whitesmoke !important;
        border-bottom: 1px solid #00a9b3 !important;
    }
}

@media (min-width:991px) and (max-width:1200px){

    /* .navbar-upper{
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;

    } */

    .nav-logo{
        display: none;
    }    

    .accordion{
        display: none;
    }

    /* .expand{
        color: aqua !important;
    } */

    /* .nav-logo1{
        display: block;
    } */
    
}